<!DOCTYPE html>
<html>
  <head>
    <title>Mybookmark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="./app/assets/javascripts/test.js"></script>
  </head>

  <body>
    <!-- ここにヘッダーを書いてください -->
    <header>

     <div class="header-logo">
       <%= link_to("Mybookmark", "/") %>
     </div>

     <ul class="header-menus">
        <% if @current_user %>
          <li>
            <!-- Log In中のユーザーの名前を表示し、詳細ページのリンクとなるように書き換えてください -->
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("bookmark一覧", "/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li class="logout">
            <!-- ログアウト用のリンクを追加してください -->
            <p>logout</p>
            <script>
              $(document).ready(function() {
                $(".logout").on("click", function() {
                  window.open('https://www.sejuku.net/blog/');                  }
                );
              });

            </script>
            <%= link_to("ログアウト", "/logout" , {method: "post"}) %>

          </li>

        <% else %>
          <!-- ログインしていない状態でヘッダーに表示するHTMLを貼り付けてください -->
          <li>
            <%= link_to("Mybookmarkとは", "/about") %>
          </li>
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>

       <% end %>



     </ul>
    </header>
    <!-- flash[:notice]に代入されたメッセージを表示してください -->
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <!-- 各ビューファイルは以下のyieldに代入され、application.html.erbの一部となる -->
    <%= yield %>


    <h1>音声合成</h1>
    <input class="text" value="Web Speech Synthesis API を使おう。" style="width: 80%; height: 40px; font-size: 40px;" />
    <button onclick="speak()" style="height: 30px; width: 80px;">speak</button>

    <script>
    function speak(){
    	var speak = new SpeechSynthesisUtterance();
      speak.text = document.querySelector('.text').value;
      speak.rate = 10;
      speak.pitch = 0;

      sleep(2000);
      speechSynthesis.speak(speak);
    }

    function sleep(time){
      var date_1 = new Date().getTime();
      var date_2 = new Date().getTime();
      while (date_2 < date_1 + time){
        date_2 = new Date().getTime();
      }
      return;
    };
    </script>

  </body>
</html>
